<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout :: head"></head>
<body>
<header th:replace="layout/layout :: header"></header>
<div class="container">
  <h1 class="text-secondary" th:text="${title}"></h1>
  <p><a th:href="@{/form}" class="btn btn-success btn-xs">Create Client</a></p>
  <table class="table table-striped">
    <thead>
    <tr>
      <th>id</th>
      <th>First name</th>
      <th>Last name</th>
      <th>email</th>
      <th>Create at</th>
      <th>Edit</th>0
      <th>Delete</th>0
    </tr>
    </thead>
    <tbody>
    <tr th:each="client : ${clients}">
      <td th:text="${client.id}"></td>
      <td th:text="${client.firstName}"></td>
      <td th:text="${client.lastName}"></td>
      <td th:text="${client.email}"></td>
      <td th:text="${client.createAt}"></td>
      <td ><a class="btn btn-primary btn-xs" th:href="@{/form/} + ${client.id}" th:text="'Edit'"></a></td>
      <td ><a class="btn btn-danger btn-xs" th:href="@{/delete/} + ${client.id}" th:text="'Delete'" onclick="return confirm('Are you sure you want to delete client?')"></a></td>
    </tr>
    </tbody>
  </table>

</div>
<footer th:replace="layout/layout :: footer"></footer>
</body>
</html>
